langchain
langchain-core
langchain-community

transformers
huggingface-hub
huggingface_hub[hf_xet]
langchain-huggingface
grandalf

torch

sentence-transformers

faiss-cpu
pdfminer.six
pymupdf
python-dotenv

requests
tqdm
 
rouge-score
textstat
reportlab
matplotlib
seaborn
numpy
pandas
scikit-learn